<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iris.blog.dao.BlogMapper">
    <sql id="Column_List">
			id,
			suject,
			title,
			username
	</sql>

    <select id="findByUsername" resultType="com.iris.blog.dao.BlogMapper">
        select
        <include refid="Column_List"/>
        from blog t
        <include refid="where"/>
        order by t.id desc
    </select>

    <select id="save" resultType="com.iris.blog.dao.BlogMapper">
        select
        <include refid="Column_List"/>
        from blog t
        <include refid="where"/>
        order by t.id desc
    </select>
    <select id="findOne" resultType="com.iris.blog.dao.BlogMapper">
        select
        <include refid="Column_List"/>
        from blog t where id = #{id}
    </select>

</mapper>